train6
test6
train
test
Validation65
Training65
.idea
Fruit-Images-Dataset
images
fruits-360
reconnaissance-objet
banane.mp4
SavedPics
cars.xml
fruits_fresh_cnn_1.h5
fruitxmltest.xml
hichem_fruit.xml
hichembananetest2.xml
model.h5
model13.h5
model5.h5
model6.h5
model65.h5
model.png
soirModelOrange.h5
img
samplefruit.xml
/Training65/
/Validation65/
Records.xlsx
test2camapp.py
testcamfruit.py
enregistrementFruit.py
input
bananedetecteur.py
modelInception.h5
